.p__robonto{
    font-family: var(--font-base);
    color: var(--color-grey);
    font-weight: 400;
    padding: 0 8px;
    opacity: .8;
    height: 44px;
    letter-spacing: -0.1em;
    line-height: 3.66667;
    font-size: 12px;
    text-decoration: none;
}

.p__robonto-smallscreen{
    font-family: var(--font-base);
    color: var(--color-grey);
    font-weight: 400;
    letter-spacing: -.022em;
    line-height: 1.23536;
    font-size: 17px;
    
}

.flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 0;
  }
  